.card-grid {
    display: flex;
    grid-auto-flow: row;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0vh 1vw;
}

/* Define a fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Apply the animation to each card with a delay */
.card-grid .card {
  animation: fadeIn 0.5s ease-in; /* Apply the fade-in animation */
}