
#home-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  font-size: 1.2em;
  position: stick;
  top: 0;
  left: 0;
  background-color: var(--header-bg);
  text-align: center;
}

#home-header h1 {
  color: var(--text)
}

main {
  justify-content: center;
  text-align: center;
  padding: 2.5vh auto;
  width: 100%;
  background-color: var(--bg);
}

.create-board {
  transform: scale(1.3);
  margin: 2em;

}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--footer-bg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1vh;
}

