.search-bar {
    display: flex;
    justify-content: space-around;
}

.search-bar button {
    background-color: lightskyblue;
    margin: 5px;
    padding: 10px;
}

.search-bar button:hover {
    background-color: darkblue;
    color: white;
}

#input {
    width: 60%;
    margin: 5px;
}