.sort-buttons {
    display: flex;
}

.sort-buttons button {
    margin: 5px;
}

.create-board {
    background-color: lightskyblue;
}

.button-active {
    background-color: darkblue;
    color: white;
}


.sort-buttons button:hover:not(.button-active) { 
    background-color: lightgray;
    color: black; 
}